{% import 'bootstrap/wtf.html' as wtf %}
{% extends 'base.html' %}


{% block content %}

{% if email_sent %}
<div class="alert alert-success"> Success, Your info has been sent! </div>
{% endif %}

<center>
    <form method="POST" action='' class='form'>
        {{ form.csrf_token }}
        {{ wtf.form_errors(form)}}
        <div>
          <fieldset class='form-group'> {{ wtf.form_field(form.name, placeholder='Your name..') }} </fieldset>
          <fieldset class='form-group'> {{ wtf.form_field(form.email, placeholder='Your email..') }} </fieldset>
          <fieldset class='form-group'> {{ wtf.form_field(form.subject, placeholder='Enter a subject..') }} </fieldset>
          <fieldset class='form-group'> {{ wtf.form_field(form.message, rows=5, placeholder='Write your message here..') }} </fieldset>
          <fieldset class='form-group'> {{ wtf.form_field(form.submit, class='btn btn-primary btn-block') }} </fieldset>
        </div>
      </form> 
</center>
</body>

{% endblock content %}

