{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<link rel="stylesheet" href="static/css/hack.css" />
<link rel="stylesheet" href="static/css/dark-grey.css" />
<body class="hack dark-grey">
<div class='container'>
{% if email_sent %}
<div class="alert alert-success">Success, Your info has been sent!</div>
{% endif %}

<center>

    <h1>Contact me</h1> 
<div class="menu">
  <div class='grid left'>
    <a class="menu-item active" href="{{ url_for('index') }}">             
      Home <div class="pull-right">»</div>
    </a>
  </div>

  <div class='grid left'>
    <a class="menu-item" href="{{ url_for('projects') }}">
      Projects <div class="pull-right">»</div>
    </a>
  </div>
   <div class='grid left'>
      <a class="menu-item" href="{{ url_for('contact') }}">
          Contact <div class="pull-right">»</div>
        </a>
   </div>
</div>

    <form method="POST" action='' class='form'>
        {{ form.csrf_token }}
        {{ wtf.form_errors(form)}}
        <div>
          <fieldset class='form-group'>{{ wtf.form_field(form.name, placeholder='Your name..') }}</fieldset>
          <fieldset class='form-group'>{{ wtf.form_field(form.email, placeholder='Your email..') }}</fieldset>
          <fieldset class='form-group'>{{ wtf.form_field(form.subject, placeholder='Enter a subject..') }}</fieldset>
          <fieldset class='form-group'>  {{ wtf.form_field(form.message, rows=5, placeholder='Write your message here..') }} </fieldset>
          <fieldset class='form-group'> {{ wtf.form_field(form.submit, class='btn btn-primary btn-block') }}</fieldset>
        </div>
      </form>

</center>
</div>
</body>
{% endblock content %}

