{% extends 'base.html' %}

{% block content %}
<title>Hamza Carew</title>
<center>
<blockquote> 
        Hello, my name is Hamza. <br>
        I'm a Backend Software Engineer with a primary focus on Python. <br> 
        I create web apps and APIs using the Flask framework and other various tools.<br>
</blockquote> <br>
</center>

<d1>
    <dt>My Stack:- </dt>
    <dd>- [1] Python 🐍</dd>
    <dd>- [2] Flask <img src='static/images/flask.png' width='24' height='20'></dd>
    <dd>- [3] HTML & CSS <img src='static/images/html-5.svg' width='22' height='18'>  <img src='static/images/css-3.svg' width='22' height='18'></dd>
    <dd>- [4] Postgres SQL <img src='static/images/PostgreSQL.svg' width='22' height='20'></dd>
    <dd>- [5] MongoDB  <img src='static/images/mongodb-icon.svg' width='22' height='18'></dd>
    <dd>- [6] Docker <img src='static/images/docker.svg' width='22' height='18'></dd>
    <dd>- [7] Celery <img src='static/images/celery.png' width='22' height='18'></dd>
    <dd>- [8] AWS EC2, S3 <img src='static/images/aws.svg' width='22' height='18'></dd>
    <dd>- [9] CircleCI <img src='static/images/circleci.svg' width='22' height='18'></dd>
</d1>

{% endblock %} 
