{% extends 'base.html' %}

{% block content %}
<div class='grid'>
<blockquote>
  These are some of the project i've worked on, they range from multiple areas that interest me. <br>
  All available to see on my <a href='https://www.github.com/6ixbit'>Github.</a>
</blockquote>

<style>
  .card{
    width: 400px;
    height: 180px;
  }
</style>

<div class="card">
    <header class="card-header"><a href='{{ repo_1.repo_url }}'>{{ repo_1.repo_name }}</a></header>
    <div class="card-content">
      <div class="inner">
          {{ repo_1.description }}
          <br>
          <div class='inner'>Size : {{repo_1.size}}kb</div>
          <div class='inner'>
              <img src='https://circleci.com/gh/6ixBit/Personal-Website.svg?style=shield'>
          </div>
        </div>
    </div>
</div>
<br>
<br>

<div class="card">
    <header class="card-header"><a href='{{ repo_2.repo_url }}'>{{ repo_2.repo_name }}</a></header>
    <div class="card-content">
      <div class="inner">
          {{ repo_2.description }}
          <br>
        </div>
        <div class='inner'>
            Size : {{repo_2.size}}kb
        </div>
      <div class='inner'>
          <img src='https://circleci.com/gh/6ixBit/Request_header_parser.svg?style=shield'>
      </div>
    </div>
</div>
<br>
<br>

<div class="card">
    <header class="card-header"><a href='{{ repo_3.repo_url }}'>{{ repo_3.repo_name }}</a></header>
    <div class="card-content">
      <div class="inner">
          {{ repo_3.description }}
          <br>
          <div class='inner'>Size : {{repo_3.size}}kb</div>
        </div>
    </div>
</div>
<br>
<br>

<div class="card">
    <header class="card-header"><a href='{{ repo_4.repo_url }}'>{{ repo_4.repo_name }}</a></header>
    <div class="card-content">
      <div class="inner">
          {{ repo_4.description }}
          <br>
          <div class='inner'>Size : {{repo_4.size}}kb</div>
        </div>
    </div>
</div>
<br>
<br>
</div>
<br>
<br>
<h3>My Public Repositories</h3>

<table>
    <tr>
      <th>Repository</th>
      <th>Description</th>
      <th>Language</th>
      <th>Size (kb) </th>
      <th>Created at</th>
      <th>Last_updated</th>
    </tr>
    {% for repo in git %}
    <tr>
      <td><a href='{{ repo.repo_url }}'>{{ repo.repo_name }}</a></td>
      <td>{{ repo.description }}</td>
      <td>{{ repo.language }}</td>
      <td>{{ repo.size }}</td>
      <td>{{ repo.created_at }}</td>
      <td>{{ repo.last_updated }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}